/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemento: todos os elementos html são mencionados sem . ou # */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #020024;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 11%, rgba(230, 255, 0, 1) 100%);
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
}
